body{
    padding: 100px;
}
.submit_area{
    margin-top: 50px;
    border-radius: 7px;
    box-shadow: 5px 7px 20px gray;
    padding: 40px;
}
#transaction_area{
    display: none;
}
.deposit{
    background-color:slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    margin: 0 20px;
    padding:30px;
    border-radius: 9px;
    color: white;
}